/* * {
    box-sizing: border-box;
    margin: 20;
    padding: 20;
    font-family: 'Lato', sans-serif;
     */
/* } */

section{
    height: 300px;
    width: 300 px;
    border: 2px solidcolor;
}

body {
    background-color: rgb(243, 233, 220);
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    color: rgb(66, 125, 235);
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 22px;
    color: rgb(66, 125, 235);
    display: flex;
    justify-content: center;
}

h3 { 
    font-size: 20px;
    display: flex;
    justify-content: center;
}

div {
    height: 40px;
    width: 40 px;
    background-color: rgb(215, 218, 223);
    outline-color: rgb(66, 125, 235);
    stroke-width: 2px;
    display: inline-block;
    margin: 50px;
    font-family: 'Lato', sans-serif;
}